 .container {
            display: grid;
            width: 80vw;
            padding-left:9vw;
            padding-right: 10vw;
            justify-content: center;
            grid-template: 70px 200px/1fr 1fr 1fr 1fr;
            grid-template-areas: "uno dos tres cuatro"
                "contenido contenido contenido contenido";
                row-gap: 10px; 
               
        }


        .uno {
            grid-area: uno;
        }

        .dos {
            grid-area: dos;
        }

        .tres {
            grid-area: tres;
        }

        .cuatro {
            grid-area: cuatro;
        }

        .contenidoUno {
            grid-area: contenido;
            display: grid;
            grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
            row-gap: 10px;
            text-align: center;
            
        }
        
        .contenidoDos {
                grid-area: contenido;
                display: grid;
                grid-template-columns: 0.5fr 0.5fr;
                text-align: center;
        }
        .contenidoTres {
            grid-area: contenido;
            display: grid;
            grid-template-columns: 0.5fr 0.5fr;
            text-align: center;
    }
        .item {
            text-align: center;
            background-color:white;
            padding: 10px 0px 10px;
            align-items: center;
            color: black;
       

        }

        .boton {
            background-color: aquamarine;
            padding: 5px 5px;
            color: black;
            border-radius: 10px;
            border-color:  white;
        }
        .boton1 {
           
            padding: 5px 5px;
            color: black;
            border-radius: 10px;
            border-color:  white;
        }
        .boton:hover {
            border-color: grey;
            color: white;
        }
        .boton1:hover {
            border-color: grey;
        }
        .cambiaBorde {
            background-color: white;
            padding: 5px 5px;
            color: black;
            border-radius: 10px;
            border-color:  white;
        }

        a {
            text-decoration: none;
        }
        .clase1{
position: relative;
        }
        .tarjeta {
            display:grid;
            grid-template-columns: repeat(2,auto);
            float: left;
            border: 1px solid grey;
            margin:4px; padding: 2px;
            width:450px;
            height:150px;
            overflow:auto;
        }
        @media all and (max-width: 600px){
           
            .container {
               display: flex;
               flex-direction: column;
                          
            }
            .contenidoUno {
                display: flex;
                flex-direction: column;
   
             }
            
            .contenidoDos {
                display: flex;
                flex-direction: column;
   
             }
             .contenidoTres {
                display: flex;
                flex-direction: column;
   
             }
             .tarjeta {
                
                width:350px;
                height:120px;
                
            }
        }
        
        @media all and (min-width: 600px) and (max-width: 800px){
            .container {
                display:grid;
            grid-template-columns: repeat(2,auto);
                           
             }
             .contenidoUno {
                display:grid;
            grid-template-columns: repeat(2,auto);
    
              }
             
             .contenidoDos {
                display:grid;
            grid-template-columns: repeat(2,auto);
    
              }
              .contenidoTres {
                display:grid;
                grid-template-columns: repeat(1,auto);
              }
              
             }
        
      