.fixed-bottom {
    overflow: hidden;
    background-color: rgb(87, 212, 205);
    margin: 0 auto;
  }

  .fixed-bottom a {
    float: left;
    padding-left: 30px;
    transition: 100ms;
    opacity: 0.5;
    align-items: center;
  }

  .fixed-bottom a:hover {
    transform: scale(1.05);
    opacity: 1.0;
}

